/* 本项目由 seavan-ning 开发并开源，允许商用，但需保留作者署名。 */
/* Nuxt UI 和 Tailwind CSS 会自动加载 */
/* 这里只放自定义样式 */

/* 自定义样式 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
